<div class="container">
  <h1 class="title">Защо да пазарувате от нас ?</h1>
  <div class="line"></div>
  <div class="block">
    <div class="infoContainer">
      <ul>
        <div class="tickContainer">
          <mat-icon color="red">done_outline</mat-icon>
          <li>Aтрактивни оферти и отстъпки</li>
        </div>
        <div class="tickContainer">
          <mat-icon color="red">done_outline</mat-icon>
          <li>Над 1800 продукта предлагани в QUICK</li>
        </div>
        <div class="tickContainer">
          <mat-icon color="red">done_outline</mat-icon>
          <li>Над 1800 продукта предлагани в QUICK</li>
        </div>
      </ul>
    </div>
    <div class="imgContainer">
      <img src="assets/quickCoffee.jpg" alt="QUICK Coffee" />
    </div>
  </div>
</div>
