<div class="widgetSm">
  <span class="widgetSmTitle">New Members</span>
  <ul class="widgetSmList">
    <!-- {users.map((u: any) => ( -->
    <li class="widgetSmListItem" key="{u._id}">
      <img
        src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
        alt=""
        class="widgetSmImg"
      />
      <div class="widgetSmUser">
        <span class="widgetSmUsername"></span>
      </div>
      <button class="widgetSmButton">
        <mat-icon>visibility</mat-icon>
        Display
      </button>
    </li>
    <!-- ))} -->
  </ul>
</div>
