<div class="widgetSm">
  <span class="widgetSmTitle">New Members</span>
  <ul class="widgetSmList">
    <li class="widgetSmListItem" *ngFor="let user of latestUsers">
      <img
        src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
        alt=""
        class="widgetSmImg"
      />
      <div class="widgetSmUser">
        <span class="widgetSmUsername">{{ user.username }}</span>
      </div>
      <button class="widgetSmButton">
        <mat-icon>visibility</mat-icon>
        Display
      </button>
    </li>
  </ul>
</div>
