<div class="container">
  <div class="wrapper">
    <h1 class="title">Sign In</h1>
    <form #login="ngForm" (ngSubmit)="loginHandler(login.value)">
      <label for="username">Username</label>
      <input type="text" ngModel name="username" />
      <label for="password">Password</label>
      <input type="password" ngModel name="password" />
      <button>Login</button>
      <a routerLink="/register">CREATE A NEW ACCOUNT</a>
      <div *ngIf="error">Couldnt login</div>
    </form>
  </div>
</div>
