<div class="container">
  <div class="info">
    <h3 class="heading">За нас</h3>
    <div class="description">
      Обичаме работата си, а вие ще обикнете начина, по който работим!
    </div>
  </div>
  <div class="info">
    <h2 class="heading">Свържете се с нас</h2>
    <div class="description">
      <div class="descriptionItem">
        <p class="text">аддрес</p>
      </div>
      <div class="descriptionItem">
        <p class="text">емайл</p>
      </div>
      <div class="descriptionItem">
        <p class="text">телефон</p>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="heading">Последвайте ни</div>
    <div class="description">
      <a
        href="https://www.facebook.com/QUICK-SHOP-111832480290672"
        target="_blank"
        >асдса</a
      >
    </div>
  </div>
  <div class="info">
    <h3 class="heading">Линкове</h3>
    <div class="description">
      <ul>
        <li>
          <a routerLink="/">Начало</a>
        </li>
        <li>
          <a routerLink="/products">Продукти</a>
        </li>
        <li>
          <a routerLink="/productsOnSale">Продукти на промоция</a>
        </li>
        <li>
          <a routerLink="/shops">Магазини</a>
        </li>
        <li>
          <a routerLink="/work">Работа при нас</a>
        </li>
        <li>
          <a routerLink="/contacts">Контакти</a>
        </li>
      </ul>
    </div>
  </div>
</div>
