<div class="featured">
  <div class="featuredItem">
    <span class="featuredTitle">Revanue</span>
    <div class="featuredMoneyContainer">
      <span class="featuredMoney"></span>
      <span class="featuredMoneyRate">
        <!-- %{Math.floor(percentage)}
          {percentage < 0 ? (
            <ArrowDownward class="featuredIcon negative" />
          ) : (
            <ArrowUpward class="featuredIcon" />
          )} -->
      </span>
    </div>
    <span class="featuredSub">Compared to last month</span>
  </div>
</div>
