<div class="sidebar">
  <div class="sidebarWrapper">
    <div class="sidebarMenu">
      <h3 class="sidebarTitle">Dashboard</h3>
      <ul class="sidebarList">
        <a routerLink="/admin" class="link">
          <li class="sidebarListItem active">
            <mat-icon class="icons">home</mat-icon>
            Home
          </li>
        </a>
        <a routerLink="/" class="link">
          <li class="sidebarListItem">
            <mat-icon class="icons">computer</mat-icon>
            QUICK Shop
          </li>
        </a>
        <li class="sidebarListItem">
          <mat-icon class="icons">trending_up</mat-icon>
          Sales
        </li>
      </ul>
    </div>
    <div class="sidebarMenu">
      <h3 class="sidebarTitle">Quick Menu</h3>
      <ul class="sidebarList">
        <a routerLink="/admin/users" class="link">
          <li class="sidebarListItem">
            <mat-icon class="icons">supervised_user_circle</mat-icon>
            Users
          </li>
        </a>
        <a routerLink="/admin/products" class="link">
          <li class="sidebarListItem">
            <mat-icon class="icons">store</mat-icon>
            Products
          </li>
        </a>
        <li class="sidebarListItem">
          <mat-icon class="icons"> attach_money</mat-icon>
          O
        </li>
        <li class="sidebarListItem">
          <mat-icon class="icons">bug_report</mat-icon>
          Reports
        </li>
      </ul>
    </div>
    <div class="sidebarMenu">
      <h3 class="sidebarTitle">Notifications</h3>
      <ul class="sidebarList">
        <li class="sidebarListItem">
          <mat-icon class="icons"> email</mat-icon>
          Mail
        </li>
        <li class="sidebarListItem">
          <mat-icon class="icons">feedback</mat-icon>
          Feedback
        </li>
        <li class="sidebarListItem">
          <mat-icon class="icons"> message</mat-icon>
          Messages
        </li>
      </ul>
    </div>
    <div class="sidebarMenu">
      <h3 class="sidebarTitle">Staff</h3>
      <ul class="sidebarList">
        <li class="sidebarListItem">
          <mat-icon class="icons">work</mat-icon>
          Manage
        </li>
        <li class="sidebarListItem">
          <mat-icon class="icons">timeline</mat-icon>
          Analytics
        </li>
        <li class="sidebarListItem">
          <mat-icon class="icons">report</mat-icon>
          Reports
        </li>
      </ul>
    </div>
  </div>
</div>
