<div class="container">
  <h1>Количка({{ products.length }})</h1>
  <div *ngFor="let product of products; let i = index" class="wrapper">
    <div class="info">
      <div class="imageContainer">
        <h1>{{ i + 1 }}</h1>
        <img src="{{ product.image }}" alt="" />
      </div>
      <div class="infoContainer">
        <h2>{{ product.title }}</h2>
        <p>Количество: {{ product.quantity }}</p>
        <p>Цена: {{ product.price }}</p>
        <p *ngIf="product.allKinds">
          Различни видево: {{ product.allKinds && "Да" }}
        </p>
      </div>
    </div>
    <hr class="line" />
  </div>
  <div class="summary">
    <div class="products">{{ products.length }} артикула</div>
    <div class="price">Обща сума: {{ totalPrice }} лв.</div>
  </div>
</div>
