<div class="widgetLg">
  <h3 class="widgetLgTitle">Latest transactions</h3>
  <table class="widgetLgTable">
    <thead>
      <tr class="widgetLgTr">
        <th class="widgetLgTh">Customer</th>
        <th class="widgetLgTh">Date</th>
        <th class="widgetLgTh">Amount</th>
        <th class="widgetLgTh">Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- {orders.map((o: any) => (
          <tr class="widgetLgTr" key={o._id}>
            <td class="widgetLgUser">
              <span class="widgetLgName">{o.userId}</span>
            </td>
            <td class="widgetLgDate">{format(o.createdAt)}</td>
            <td class="widgetLgAmount">{o.amount}</td>
            <td class="widgetLgStatus">
              <Button type={o.status} />
            </td>
          </tr>
        ))} -->
    </tbody>
  </table>
</div>
