<div class="topbar">
  <div class="topbarWrapper">
    <div class="topLeft">
      <span class="logo">QUICK shop admin page</span>
    </div>
    <div class="topRight">
      <div class="topbarIconContainer">
        <mat-icon>notification_important</mat-icon>
        <span class="topIconBadge">2</span>
      </div>
      <div class="topbarIconContainer">
        <mat-icon>language</mat-icon>
        <span class="topIconBadge">2</span>
      </div>
      <div class="topbarIconContainer">
        <mat-icon>settings</mat-icon>
      </div>
      <img
        src="https://images.pexels.com/photos/1526814/pexels-photo-1526814.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
        alt=""
        class="topAvatar"
      />
    </div>
  </div>
</div>
